#pins.tranision-enabled

	%div.col-12.mt-5.m-auto.grid{"data-masonry" => "{ \"itemSelector\": \".grid-item\", \"columnWidth\": 0 }"}
	
		- @pins.each do |pin|
			.box.panel.panel-default.grid-item
				= link_to (image_tag pin.image.url), pin
				.panel-body
					%h2= link_to pin.title, pin
					%p.user
					Submitted by 
					=pin.user.email